<form action="/update-user/<%= user.id %>" method="post">
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="hidden" name="id" value="<%= user.id %>">
      <label>Email</label>
      <input type="email" class="form-control" name="email" value="<%= user.email %>" required>
    </div>
    <div class="form-group col-md-6">
      <label>Password</label>
      <input type="password" class="form-control" name="password" value="<%= user.password %>" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>First Name</label>
      <input type="text" class="form-control" name="firstName" value="<%= user.firstName %>">
    </div>
    <div class="form-group col-md-6">
      <label>Last Name</label>
      <input type="text" class="form-control" name="lastName" value="<%= user.lastName %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Phone Number</label>
      <input type="text" class="form-control" name="phoneNumber" value="<%= user.phoneNumber %>">
    </div>
    <div class="form-group col-md-4">
      <label>Gender</label>
      <select name="gender" class="form-control">
        <option value="0" <%= user.gender === false ? "selected" : "" %>>Male</option>
        <option value="1" <%= user.gender === true ? "selected" : "" %>>Female</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label>Role</label>
      <select name="roleId" class="form-control">
        <option value="1" <%= user.roleId == "1" ? "selected" : "" %>>Admin</option>
        <option value="2" <%= user.roleId == "2" ? "selected" : "" %>>Doctor</option>
        <option value="3" <%= user.roleId == "3" ? "selected" : "" %>>Patient</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>